  <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                <a href="" class="venobox  mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                <h3>About Us</h3>
                <p>
                    Jumah Pay is an online platform offering an entirely new kind of online charity experience. It allows you to make a donation with the help of your mobile phones by pressing a single button or swipe on the screen.

                    We believe that charity is not only about fulfilling a religious obligation rather, it helps you to connect with the society and support the causes which are close to your heart.
                </p>

                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-arrow-from-bottom"></i></div>
                    <h4 class="title"><a href="">We're on a mission...</a></h4>
                    <p class="description">

                        We created our very first donations portal in 2004. The future of giving is with mobile phone, society has moved and we’ve innovated with the times. Bringing causes to your handset, local, national and international. Support, charities its quick easy and fast.
                    </p>
                </div>

                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-chart"></i></div>
                    <h4 class="title"><a href="">And we will get there!</a></h4>
                    <p class="description">

                        Our reach is simple, working with you to get the support you need. Crowdfunding people to GIVE in simple and effective manner. We work across oceans and borders, helping you to help others.
                    </p>
                </div>


            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>App Screens</h2>
            <p>How it works</p>
        </div>

        <div class="row g-0" data-aos="fade-left">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
                    <a href="~/assets/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                        <img src="~/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        <h6>Signup for free</h6>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
                    <a href="~/assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                        <img src="~/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        <h6>Search for any campaign or NGO</h6>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
                    <a href="~/assets/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                        <img src="~/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        <h6>Donate to your desired campaign</h6>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
                    <a href="~/assets/img/gallery/gallery-4.jpg" class="gallery-lightbox">
                        <img src="~/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        <h6>Tick the Gift-Aid box if applicable</h6>
                    </a>
                </div>
            </div>





        </div>

    </div>
</section><!-- End Gallery Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Campaigns</h2>
            <p>Popular charities & Campaigns</p>
        </div>

        <div class="row" data-aos="fade-left">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic"><img src="~/assets/img/campaigns/cmp-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Help them for better education</h4>
                        <span>Campaign by: Dude Foundations</span>
                        <br>
                        <a href="#" class="btn btn-primary">Donate Now</a>
                        <br>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic"><img src="~/assets/img/campaigns/cmp-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>A Charitable Journey</h4>
                        <span>Campaign by: Dude Foundations</span>
                        <br>
                        <a href="#" class="btn btn-primary">Donate Now</a>
                        <br>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic"><img src="~/assets/img/campaigns/cmp-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Give & Support Fundraising</h4>
                        <span>Campaign by: Dude Foundations</span>
                        <br>
                        <a href="#" class="btn btn-primary">Donate Now</a>
                        <br>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic"><img src="~/assets/img/campaigns/cmp-4.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Let them smile</h4>
                        <span>Campaign by: Dude Foundations</span>
                        <br>
                        <a href="#" class="btn btn-primary">Donate Now</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>

    </div>


</section><!-- End Team Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row" data-aos="fade-up">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>NGOs Onboard</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container">
        <!--
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Molana Rumi</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
        <!--
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Mufti Hashim</h3>
                        <h4>Businessman</h4>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
        <!--
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Ali Khan</h3>
                        <h4>Store Owner</h4>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
        <!--
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
        <!--
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
        <!--
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              -->
    </div>
</section><!-- End Testimonials Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>F.A.Q</h2>
            <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is Jumah Pay <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Jumah Pay - is unique in that connecting charities, using real time GPS data searches for campaigns around your location via mobile phone. Bringing faith and technology together.

                            We encourage the act of charity, helping streamline fundraising and transparency when it comes to donating... Give your zakat, sadaqah, fitra and help the campaign causes.

                            Brothers and sisters residing in any part of the world can become a part of this beautiful cause by sending in their donations through internet, bank, or mobile.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How much does it cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Registration is free for charities on Jumah Pay.

                            We recoup our small cost by way of the service charge to clear donated amount + Gift-Aid for charities if applicable. We collect a standard fee of 5% plus charity admin fees of 2.9%

                            This is how we apply the 5% fee rule.

                            You donate £10.00, we would charge 5% + charity admin fee.

                            We then increase your donation by further 25% and reclaim Gift-Aid on your behalf if applicable, it takes a month we then deduct our 5% fee and send that down every month.

                            We put most of our resources back into creating, a stronger and innovative product for you to use with new features.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Register our charity organization? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Just follow the online registration process.

                            It takes between 24 - 48 hours to activate your charity once you have filled in the forms and returned to us copies of verification of charity and bank details these must be original documents and within 3 months age.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is Gift Aid?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Gift Aid is an income tax relief designed to benefit charities and Community Amateur Sports Clubs (CASC). If you’re a UK taxpayer, Gift Aid increases the value of your charity donations by 25% because the charity can reclaim the basic rate of tax on your gift at no extra costs to you.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Making a Donation<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Simply download the app. Search for a cause locally or nationally and donate.

                            You can keep track of donations using the App.
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End F.A.Q Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">



        <div class="row">

            <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                <div class="section-title" data-aos="fade-up">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>
                            Jumah Pay, 71-75 Shelton Street, Covent Garden,

                            London, United Kingdom, WC2H 9JQ
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@jumahpay.app</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p></p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <div class="section-title" data-aos="fade-up">
                    <h2>Create your account now for free</h2>
                    <p>Register as charity user</p>
                </div>
                <form action="" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Address" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Register Now</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

