@using mcbc.Web.Public.Views.Shared.Components.Header
@using mcbc.Web.Navigation
@model HeaderViewModel
@{
    var orderedMenuItems = Model.Menu.Items.OrderByCustom().ToList();
}

<<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <!-- <h1><a href="index.html"><span>Jumah Pay</span></a></h1> -->

            <a href="index.html"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#gallery">How It Works</a></li>
                <li><a class="nav-link scrollto" href="#team">Campaigns</a></li>

                <li><a class="nav-link scrollto" href="#contact">Contact & Register Charity</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->